<!DOCTYPE html>

{% load staticfiles %}

<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/isItFriday.css' %}">
   </head>
   <body>
      <div class="center">
         <!--img src="{% static 'img/a.jpg' %}" alt="Example"/-->
         <div class="col-md-8 container-fluid">
            <div>
               <h1>Today is... {% if week_day_name == 'Friday'%}
            </div>
               <span class="friday-text">{{week_day_name}}</span>
            {% else %}
               <span class="big-text">{{week_day_name}}</span>
            {% endif %}
            </h1>
            <img class="img-responsive" src="{{image_url}}" alt="HTML5 Icon">
            <div>
               <p class="text-center"><small>Refresh to update image!</small></p>
            </div>
         </div>
        </div>
   </body>
</html
